<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h3 class="text-center mt-3">ジャンル編集</h3>
      <%= form_with model: @genre, url: admin_genre_path do |f| %>
        <div class="form-group mt-3">
          <%= f.label :name, "ジャンル名", class: 'font-weight-bold' %>
          <%= f.text_field :name %>
          <%= f.submit "変更を保存", class: 'btn btn-outline-success btn-sm rounded-pill ml-3' %>
        </div>
      <% end %>
    </div>
  </div>
</div>