<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2 class="text-center mt-4">☆投稿ページへようこそ☆</h2>
      <p class="text-center mt-4">
        あなたの好きな作品やお気に入りの作品を投稿して<br>
        みんなとシェアしましょう！<br>
        仲間があなたの投稿を待っています！^^
      </p>
    </div>
  </div>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <%= render 'new', film: @film %>
    </div>
  </div>
</div>