<div class='container'>
   <div class='row'>
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        	<h2 class="text-center mt-5">ここから先は管理者専用です</h1>
      </div>
   </div>
</div>
