<table class='table table-hover'>
  <thead>
    <tr>
      <th>ステータス</th>
      <th>プロフィール画像</th>
      <th>名前</th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td>
          <%if user.is_valid? == true %>
           <span class="text-success">有効</span>
          <% else %>
           <span class="text-danger">退会済み</span>
          <% end %>
        </td>
        <td><%= image_tag user.get_profile_image(50,50) %></td>
        <td>
          <%= link_to user_path(user.id) do %>
            <%= user.name %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
