<table class='table'>
  <thead>
    <tr>
      <th>会員イメージ</th>
      <th>名前</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image(50,50) %></td>
        <td><%= user.name %></td>
        <td><%= link_to "会員詳細", user_path(user.id), class: "user_#{user.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
