@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body {
  padding-top: 74px;
  padding-bottom: 72px;
  background: radial-gradient(#57747A, #CFD3D4) fixed;
}

header {
  background: linear-gradient(-135deg, #485449, #8BA38D) fixed;
}

footer {
  background: linear-gradient(-135deg, #485449, #8BA38D) fixed;
}