@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body {
  padding-top: 118px;
  padding-bottom: 55px;
  background: radial-gradient(circle at center, rgba(255, 239, 186, 0.6) 0%,rgba(255, 255, 255, 0.65) 95%) fixed;
}

header {
  background: linear-gradient(-135deg, #649173, #DBD5A4) fixed;
}

footer {
  background: linear-gradient(-135deg, #649173, #DBD5A4) fixed;
}

.logo {
  font-family: cursive;
}

.top_p,.about_p {
  line-height: 1.6;
}

.about_logo {
  width: 43%;
}