@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body {
  padding-top: 112px;
  padding-bottom: 55px;
  background: radial-gradient(#f2f2f2, #ffffff) fixed;
}

header {
  background: linear-gradient(-135deg, #1e130c, #9a8478) fixed;
}

footer {
  background: linear-gradient(-135deg, #1e130c, #9a8478) fixed;
}

.logo {
  font-family: cursive;
}
