<div class="about_container text-center">
  <div class="row">
    <div class="col">
      <h1 class=" logo mt-5">About</h1>
    </div>
　</div>
　<div class="row mb-3 justify-content-center">
    <p class="about_p">
      FilmPostは好きな映画やおすすめの映画を投稿して、<br>
      互いにお気に入りの映画を共有しあえるコミュニティサイトです。<br>
      邦画・洋画を問わず様々なジャンルの映画を見つけることができます。<br>
      それではあなただけの素敵な作品を見つける旅にいってらっしゃいませ。<br>
    </p>
  </div>
</div>