<div class="container">
  <div class="row">
    <div class="col">
      <p class="text-right mt-2">
      <%= link_to "管理者の方はこちら", new_admin_session_path, class: 'text-primary' %>
      </p>
      <h1 class="logo text-center mt-2">Welcome to FilmPost!</h1>
    </div>
　</div>
　<div class="row mb-3 justify-content-center">
    <p>
      FilmPostへようこそ！<br>
      このサイトは好きな映画やおすすめの映画を投稿して、<br>
      互いにお気に入りの映画を共有しあえるコミュニティサイトです。<br>
      今まで出会えなかった素敵な作品を見つけて素敵な時間を過ごしましょう<br>
    </p>
  </div>
  <div class="row mb-3 justify-content-center">
    <div class="row">
    　<%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
  　</div>
  </div>
</div>