<footer class="fixed-bottom text-light py-3">
  <div class="container">
    <div class="row justify-content-center">
      <a href="#" class="mx-2 text-light"><i class="fab fa-twitter fa-lg"></i></a>
      <a href="#" class="mx-2 text-light"><i class="fab fa-facebook-square"></i></a>
      <a href="#" class="mx-2 text-light"><i class="far fa-envelope fa-lg"></i></a>
      <p class="text-light">© FilmPost</p>
    </div>
  </div>
</footer>












